<a href="https://colab.research.google.com/github/Pola1217/Sprint2-STI/blob/main/Spritn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import math

data_base = pd.read_csv('sprint2.csv')

print(data_base)

first_drop ="Alvaro" #@param ["Aitor","Cayetana","Luna","Alvaro","Mariona"]

second_drop = "Mariona" #@param ["Aitor","Cayetana","Luna","Alvaro","Mariona"]

if first_drop == "Aitor":
    first_drop = data_base.Aitor
elif first_drop == "Cayetana":
    first_drop = data_base.Cayetana
elif first_drop == "Luna":
    first_drop = data_base.Luna
elif first_drop == "Alvaro":
    first_drop = data_base.Alvaro
elif first_drop == "Mariona":
    first_drop = data_base.Mariona
else: print("valor no existe")

if second_drop == "Aitor":
      second_drop = data_base.Aitor
elif second_drop == "Cayetana":
      second_drop = data_base.Cayetana
elif second_drop == "Luna":
      second_drop = data_base.Luna
elif second_drop == "Alvaro":
      second_drop = data_base.Alvaro
elif second_drop == "Mariona":
      second_drop = data_base.Mariona
else: print("valor no existe")

AB = (first_drop[0] * second_drop[0]) + (first_drop[1] * second_drop[1]) + (first_drop[2] * second_drop[2]) + (first_drop[3] * second_drop[3]) + (first_drop[4] * second_drop[4])

Ap = math.sqrt((first_drop[0]**2) + (first_drop[1]**2) + (first_drop[2]**2) + (first_drop[3]**2) + (first_drop[4]**2))
Bp = math.sqrt((second_drop[0]**2) + (second_drop[1]**2) + (second_drop[2]**2) + (second_drop[3]**2) + (second_drop[4]**2))

print(Ap)
print(Bp)

Cos = AB/(Ap * Bp)
print("---------------------------------------------------")
print("El coseno es:")
print(Cos)

   nombre   Aitor  Cayetana  Luna  Alvaro  Mariona
0  valor 1   0.11      0.12  0.27    0.66     0.01
1  valor 2   0.37      0.22  0.87    0.17     0.78
2  valor 3   0.99      0.54  0.45    0.44     0.67
3  valor 4   0.02      0.33  0.40    0.48     0.86
4  valor 5   0.55      0.46  0.55    0.24     0.22
0.9726767191621274
1.3584550047756458
---------------------------------------------------
El coseno es:
0.6808252706625849